<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body onload="loadUniversities()">
<div id="bg">

        <div class="module">
            <select class="tab" id="activ" ></select>
            <select class="tab" id="floor"></select>
            <select class="tab" id="date"></select>
            
            <select class="tab" id="time"></select>
            <input type="button" value="מצא מקום" class="button" />
        </div>
</div>

</body>

</html>